
img{
    max-width:100%;
}

.blockquote{
    font-size: 3rem;
    color: #333;
    border: none;
    padding: 0;
} 

.jumbotron {
  padding-top:12rem;
  padding-bottom:3rem;
  margin-bottom: 0;
  background-color:#fff;
  background-image: url('img/sepiaPark.png');
  background-repeat: no-repeat;
  background-position: bottom-center;
  background-size: cover;  
}
.row{
    display:flex;
    flex-wrap: wrap;
}

.jumbotron .container {
  max-width: 40rem;
  background: rgba(230,255,204,0.80);
  padding: 2rem;
  border-radius: 5rem; 
}
.jumbotron .container .jumbotron-logo .img{
    padding-bottom:-2rem;
}

.jumbotron p {
    color: #1d603a;
    font-family: "Open-Sans", sans-serif;
    font-size:1.6rem;
    font-weight:500;
}

  @import url("https://p.typekit.net/p.css?s=1&k=tfq0qnt&ht=tk&f=28994&a=7472769&app=typekit&e=css");

h1 {
    font-family:"hobeaux-rococeaux-sherman","Arial-Black";
    font-style: normal;
    font-weight: 400;
     color: #1d603a;
    /*font-size:36px;*/
     padding-left:1.5rem;
     padding-right:1.5rem;
     padding-top:1rem;
     padding-bottom:1rem;
     background-color:#ffd480;
    } 


.What-is-Green-Car > .img{
 padding-top:2rem;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  div {
    font-size: 80px;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  div{
    font-size: 30px;
  }
}


body {
      font-family:"Open-Sans", sans-serif;
      font-weight: 400;
      font-size: 1.75rem;
      line-height: 1.8;
      color: #737373;
      background: #f5fcea;
}
      

    
  h2 {
      font-family: "hobeaux-rococeaux-sherman", sans-serif;
      font-size:2.25rem;      
      font-style: normal;
      font-weight: 600;
      color: #1d603a;
      margin-top:2.25rem;
      margin-bottom: 1.5rem;
  }
    h3{
      font-family:"hobeaux-rococeaux-sherman", sans-serif;
      font-size:2.5rem;
      font-style: normal;
      font-weight:400;
      color:#2db300;
      padding-left:1rem;
    }   

    h4{
     font-family: "Open-Sans", sans-serif;
     font-size: 2rem;
     line-height: 1.375em;
     color: #737373;
     font-weight: 400;
     margin-bottom: .5rem;
     padding-left: 3rem;
  } 

   h5{    
     font-family:"hobeaux-rococeaux-sherman", sans-serif;
     font-size:2rem;
     font-style: normal;
     font-weight:400;
     color:#00802b;
     padding-left:1.5rem; 
     padding-right:1.5rem;
     background-color:#ffd480;
     padding-top:1rem;
     padding-bottom:.75rem;
}
    h6{  
        font-family: "Open-Sans", sans-serif;
        font-size: 2rem;
        line-height: 1.375em;
        color: #737373;
        font-weight: 400;
        padding-left: 1rem;
}

    h7{      
       font-family:"hobeaux-rococeaux-sherman", sans-serif;
       font-size:1.5rem;
       font-style: normal;
       font-weight:400;
       color:#1d603a;
       padding-left:1.2px;
      
}
    h8{
     font-family: "Open-Sans", sans-serif;
     font-size: 2rem;
     color: #737373;
     font-weight: 400;
     margin-bottom: .25rem;
     padding-left: .25rem;
}
    h9{
     font-family: "Open-Sans", sans-serif;
     font-size: 2rem;
     color: #737373;
     font-weight: 400;
     margin-bottom: 2.5rem;
     padding-left: 4rem;
}
   h10{      
     font-family:"hobeaux-rococeaux-sherman", sans-serif;
     font-size:2rem;
     font-style: normal;
     font-weight:400;
     color:#00802b;
     padding-left:3rem; 
     padding-top:1rem;
     padding-bottom:.75rem;
}
.rowfafari{
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

.haveto{
  padding-top:1.5rem;
  padding-bottom:1.5rem;
}
ul {
   list-style-image: url('img/tiniest-40x37-copy.png'); 
    padding-top:1.5rem;
} li { 
    font-size:
    padding-top: 1rem;
    margin-left: 1em;
}

.new-opt .col-sm-6 {
 background:#ffeb99;
 padding:2rem;
 border-top: .25rem solid #84cc00;
 border-bottom: .25rem solid #84cc00;
}

.new-opt .col-sm-6 .img{
 padding-bottom:.25rem;
} 

.gcbud-can .col-sm-6{
  background:#ffeb99;
  padding:2rem;
 border-top: .25rem solid #84cc00;
 border-bottom:.25rem solid #84cc00;
}

.gcbud-can .col-sm-6 .img{
   padding-top:1rem;
   padding-bottom:1.25rem;
}

.container-fluid {
      padding:.75rem 1rem;
      background-color: #ffedb3;
  }
.row:before, .row:after {
    display: none !important;
}

@media (min-width: 544px){
   .how .card {
    width: 33.333%;
    padding: .15rem;
    margin-bottom: 2rem;
    border: 0;
   } 
   .how .card > img {
    margin-bottom: .75rem;
    max-width: 100%; 
   }
}

  .logo-small {
      color: #f4511e;
      font-size: 2.5rem;
  }
  .logo {
      color: #f4511e;
      font-size: 5rem;;
  }
    
  .navbar {
      margin-bottom: 0rem;
      padding-bottom:3rem;
      background-color: #ffd480;
      z-index: 9900;
      border: 2rem;
      font-size: 1.75rem;
      font-weight: 600;
      line-height: 1.42857143;
      letter-spacing: .30rem;
      border-radius: 0;
      font-family: "Open-Sans", sans-serif;
  }

  .navbar li a, .navbar .navbar-brand {
      color: #1d603a;

  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #00b300;
      background-color: rgba(230,255,204,0.80);
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #ffffff;
  }

.contact{
    background-color: #ffd480;
    max-width: 100%
}  

.signup .container{
  background-color:#ffeb99;
  max-width: 100%;
}

.signup .h10{
  margin-left:2rem;
}
.signup .card .p{
  float:right;
  margin-left:40rem;
}

 .signup  .form{  
    float: right; 
    margin-left:40rem;
}

 footer{
      text-align:center;
      font-family: "Open-Sans",sans-serif;
      font-style: normal;
      color: #1d603a;
      font-weight: 400;
      font-size:1.2rem;
      max-width:100%;
      padding-top:1rem;
      padding-bottom:1rem;
      background-color:#ffd480;
} 





